<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <staticContent>
     <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="24.00:00:00" />
     <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
     <mimeMap fileExtension=".css" mimeType="text/css; charset=UTF-8" />
     <mimeMap fileExtension=".eot" mimeType="application/octet-stream" />
     <mimeMap fileExtension=".f4v" mimeType="video/mp4" />
     <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
     <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
     <mimeMap fileExtension=".js" mimeType="text/javascript" />
     <mimeMap fileExtension=".json" mimeType="application/json" />
     <mimeMap fileExtension=".less" mimeType="text/css" />
     <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
     <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
     <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
     <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
     <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
     <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
     <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
     <mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
     <mimeMap fileExtension=".svgz" mimeType="images/svg+xml" />
     <mimeMap fileExtension=".webm" mimeType="video/webm" />
     <mimeMap fileExtension=".webp" mimeType="image/webp" />
     <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
     <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
     <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
     <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
    </staticContent>
  </system.webServer>
</configuration>
